extends layout

block page_title
  title I'm a software engineer!

block greeting
  h1 Hello world!

block software_engineer
  p I'm going to be a software engineer soon!
  img(src="/images/earth.jpg"
      alt="The Earth"
      title="The Earth")